
@import '../../../../assets/styles/variables.scss';
.loader__wrap {
  background: $spacex-grey-background;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loader {
  border: 3px solid $spacex-grey-light;
  border-radius: 50%;
  border-top: 4px solid $spacex-primary-dark;
  border-radius: 50%;
  border-top: 4px solid $spacex-primary-dark;
  border-right: 4px solid $spacex-primary-dark;
  width: 44px;
  height: 44px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
