@import '../../../../assets/styles/variables.scss';
.button{
    padding: 5px 20px;
    background: $spacex-primary;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    margin:5px 15px;
    text-transform: capitalize;
}
.button--active {
    background: $spacex-primary-dark;
}