<section class="home__wrap">
    
    <div class="home__items__wrap">
        <div class="home__filter__wrap">
            <spacex-card>
                <p class="header">Filters</p>
                <spacex-filter 
                    [config]="yearsFilterData"
                    (filterKey)="yearFilterClicked($event)"
                    [selectedFilter]="selectedFilters.year"
                ></spacex-filter>
                <spacex-filter 
                    [config]="successfulLaunchFilterData"
                    (filterKey)="successfulLaunchFilterClicked($event)"
                    [selectedFilter]="selectedFilters.successful_launch" 
                ></spacex-filter>
                <spacex-filter 
                    [config]="successfulLandingFilterData" 
                    (filterKey)="successfulLandingFilterClicked($event)"
                    [selectedFilter]="selectedFilters.successful_landing" 
                 >
                </spacex-filter>
            </spacex-card>
        </div>
        <div class="home__launchlist__wrap">
            <spacex-launch-item class="home__launch-item" *ngFor="let launch of launchItems;" [data]="launch"></spacex-launch-item>
        </div>
    </div>
    
</section>