.loader__overlay {
  z-index: 1000000;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.loader__wrap {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #0033aa;
  border-radius: 50%;
  border-top: 4px solid #0033aa;
  border-right: 4px solid #0033aa;
  width: 44px;
  height: 44px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
