/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables.scss';
*{
    margin:0;
    padding:0;
}
body{
    font-family: Open sans, sans-serif;
    background-color: $spacex-grey-light;
}
.mt-10{
    margin-top:10px;
}
.ml-30{
    margin-left:30px;
}
/* Typography */
.header-primary{
    color: $spacex-accent;
    font-weight: 600;
}
.header{
    color: $spacex-grey-dark;
    font-weight: 600;
}
.paragraph{
    color: $spacex-grey-dark;
    font-weight: 100;
    font-size: 14px;
}
.paragraph-bold{
    color: $spacex-grey-dark;
    font-weight: 600;
    font-size: 14px;
}
.paragraph-primary{
    color: $spacex-accent;
    font-weight: 100;
    font-size: 14px;
}


/* Layout */
.flex-container{
    display: flex;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-justify-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-dir-col{
    flex-direction: column;
}
.align-self-center{
    align-self:center; 
}
.flex-wrap{
    flex-wrap: wrap;
}