/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
}
body{
    font-family: Open sans, sans-serif;
    background-color: #f2f2f2;
}

.mt-5{
    margin-top:5px;
}
.mt-10{
    margin-top:10px;
}

.mt-20{
    margin-top:20px;
}

.mt-30{
    margin-top:30px;
}
.mb-30{
    margin-bottom:30px;
}

.ml-30{
    margin-left:30px;
}


/* Typography */
.header-primary{
    color: #4b5791;
    font-weight: 600;
}
.header{
    color: #333;
    font-weight: 600;
}
.paragraph{
    color: #333;
    font-weight: 100;
    font-size: 14px;
}
.paragraph-bold{
    color: #333;
    font-weight: 600;
    font-size: 14px;
}
.paragraph-primary{
    color: #4b5791;
    font-weight: 100;
    font-size: 14px;
}


/* Layout */
.flex-container{
    display: flex;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-justify-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-dir-col{
    flex-direction: column;
}
.align-self-center{
    align-self:center; 
}
.flex-wrap{
    flex-wrap: wrap;
}
.float-left{
    float: left;
}



/* Alignment */

.text-align-center{
    text-align: center;
}

/* Dimensions */

.wd-80{
    width: 80%;
}